<!-- debemo remplazar yeditar los valores del html optenidos -->

<h1 mat-dialog-title>{{ tituloAccion }}Empleado</h1>
<div mat-dialog-content>
    <!-- impportamos formularios reactivos appModule -->
    <form [formGroup]="formEmpleado">
        <!-- configurar las grillas para ordenar es comp  -->
        <!-- dentro usamos formField-->
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombreCompleto" autocomplete="off" />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <!--     listar los departamentos -->
                <mat-form-field appearance="outline">
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="idDepartamento" autocomplete="off">
                        <mat-option *ngFor="let item of listaDepartamento" [value]="item.idDepartamento">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Sueldo</mat-label>
                    <input matInput formControlName="sueldo" autocomplete="off" type="number" />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Fecha Contrato</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fechaContrato" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
