table {
    width: 98%;
    border: 1px solid gray;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
    border: 1px solid rgb(243, 237, 237);
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-header-cell {
    text-align: center;
    font-size: 24px;
    color: rgb(238, 60, 134);
}

iframe {
    width: 100%;
    border: 1px solid rgb(204, 175, 231);
    margin-bottom: 10px;
}

.mat-toolbar {
    margin-top: 10px;
}

.mat-toolbar-row button {
    border-radius: 16px;
    margin-left: 16px;
}